[defaults]

roles_path = ~/free-code/ansible/roles/ansible/ansible/ansible/roles/ansible/roles:./roles:./external/ansible/ansible/roles:./external:./roles/ansible
bin_ansible_callbacks = True
stdout_callback = yaml
fact_caching = memory
inventory = ./inventories/

[inventory]
enable_plugins = yaml, ini

[privilege_escalation]
become = yes

[ssh_connection]
transfer_method = smart
pipelining=True
